/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/** {*/
/*-webkit-tap-highlight-color: rgba(0,0,0,0); !* make transparent link selection, adjust last value opacity 0 to 1.0 *!*/
/*}*/

/*body {*/
/*-webkit-touch-callout: none;                !* prevent callout to copy image, etc when tap to hold *!*/
/*-webkit-text-size-adjust: none;             !* prevent webkit from resizing text to fit *!*/
/*-webkit-user-select: none;                  !* prevent copy paste, to allow, change 'none' to 'text' *!*/
/*background-color:#E4E4E4;*/
/*background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);*/
/*background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);*/
/*background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);*/
/*background-image:-webkit-gradient(*/
/*linear,*/
/*left top,*/
/*left bottom,*/
/*color-stop(0, #A7A7A7),*/
/*color-stop(0.51, #E4E4E4)*/
/*);*/
/*background-attachment:fixed;*/
/*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
/*font-size:12px;*/
/*height:100%;*/
/*margin:0px;*/
/*padding:0px;*/
/*text-transform:uppercase;*/
/*width:100%;*/
/*}*/

/*!* Portrait layout (default) *!*/
/*.app {*/
/*background:url(../img/logo.png) no-repeat center top; !* 170px x 200px *!*/
/*position:absolute;             !* position in the center of the screen *!*/
/*left:50%;*/
/*top:50%;*/
/*height:50px;                   !* text area height *!*/
/*width:225px;                   !* text area width *!*/
/*text-align:center;*/
/*padding:180px 0px 0px 0px;     !* image height is 200px (bottom 20px are overlapped with text) *!*/
/*margin:-115px 0px 0px -112px;  !* offset vertical: half of image height and text area height *!*/
/*!* offset horizontal: half of text area width *!*/
/*}*/

/*!* Landscape layout (with min-width) *!*/
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {*/
/*.app {*/
/*background-position:left center;*/
/*padding:75px 0px 75px 170px;  !* padding-top + padding-bottom + text area = image height *!*/
/*margin:-90px 0px 0px -198px;  !* offset vertical: half of image height *!*/
/*!* offset horizontal: half of image width and text area width *!*/
/*}*/
/*}*/

/*h1 {*/
/*font-size:24px;*/
/*font-weight:normal;*/
/*margin:0px;*/
/*overflow:visible;*/
/*padding:0px;*/
/*text-align:center;*/
/*}*/

/*.event {*/
/*border-radius:4px;*/
/*-webkit-border-radius:4px;*/
/*color:#FFFFFF;*/
/*font-size:12px;*/
/*margin:0px 30px;*/
/*padding:2px 0px;*/
/*}*/

/*.event.listening {*/
/*background-color:#333333;*/
/*display:block;*/
/*}*/

/*.event.received {*/
/*background-color:#4B946A;*/
/*display:none;*/
/*}*/

/*@keyframes fade {*/
/*from { opacity: 1.0; }*/
/*50% { opacity: 0.4; }*/
/*to { opacity: 1.0; }*/
/*}*/
/**/
/*@-webkit-keyframes fade {*/
/*from { opacity: 1.0; }*/
/*50% { opacity: 0.4; }*/
/*to { opacity: 1.0; }*/
/*}*/
/**/
/*.blink {*/
/*animation:fade 3000ms infinite;*/
/*-webkit-animation:fade 3000ms infinite;*/
/*}*/

@charset "utf-8";


div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}
div::-webkit-scrollbar-corner {
    background-color: transparent;
}
div::-webkit-scrollbar-thumb {
    background-color: #DADADA;
}

/* Place The scroll down button at the bottom */
div::-webkit-scrollbar-button:vertical:increment {
    background-image:url(/img/arrowScrollbar_bottom2.png);
    background-repeat:no-repeat;
    width:10px;
    height:14px;
}
/* Place The scroll up button at the up */
div::-webkit-scrollbar-button:vertical:decrement {
    background-image:url(/img/arrowScrollbar_top2.png);
    background-repeat:no-repeat;
    width:10px;
    height:14px;
}

span::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}
span::-webkit-scrollbar-corner {
    background-color: transparent;
}
span::-webkit-scrollbar-thumb {
    background-color: #DADADA;
}
/* Place The scroll down button at the bottom */
span::-webkit-scrollbar-button:vertical:increment {
    background-image:url(/img/arrowScrollbar_bottom2.png);
    background-repeat:no-repeat;
    width:10px;
    height:14px;
}
/* Place The scroll up button at the up */
span::-webkit-scrollbar-button:vertical:decrement {
    background-image:url(/img/arrowScrollbar_top2.png);
    background-repeat:no-repeat;
    width:10px;
    height:14px;
}

textarea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}
textarea::-webkit-scrollbar-corner {
    background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
    background-color: #DADADA;
}
/* Place The scroll down button at the bottom */
textarea::-webkit-scrollbar-button:vertical:increment {
    background-image:url(/img/arrowScrollbar_bottom2.png);
    background-repeat:no-repeat;
    width:10px;
    height:14px;
}
/* Place The scroll up button at the up */
textarea::-webkit-scrollbar-button:vertical:decrement {
    background-image:url(/img/arrowScrollbar_top2.png);
    background-repeat:no-repeat;
    width:10px;
    height:14px;
}

select::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}
select::-webkit-scrollbar-corner {
    background-color: transparent;
}
select::-webkit-scrollbar-thumb {
    background-color: #DADADA;
}
/* Place The scroll down button at the bottom */
select::-webkit-scrollbar-button:vertical:increment {
    background-image:url(/img/arrowScrollbar_bottom2.png);
    background-repeat:no-repeat;
    width:10px;
    height:14px;
}
/* Place The scroll up button at the up */
select::-webkit-scrollbar-button:vertical:decrement {
    background-image:url(/img/arrowScrollbar_top2.png);
    background-repeat:no-repeat;
    width:10px;
    height:14px;
}

body {
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    position: relative;
    -webkit-text-size-adjust: none;
    line-height: 1.4;
    width: 100%;
    background-color: #000000;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
}

.bodyPattern {
    background-image: url(/img/buttons_interface/arrowspattern.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
    background-position: 20% 0px;
}

button:focus {outline:0;}
select, input, textarea:focus {outline:0;}
input:focus {
    background-color: #FFFFE8;
}

fieldset,img {
    border:0;
}
input {
}

a {
    color: #333;
    text-decoration: none;
}

a.logoutLang {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    margin: 0px 3px 0 3px;
    padding: 0 0 0 0;
    line-height: 15px;
    /* float: left; */
    color: #ffffff;
}
a.logoutLang:hover	{
    color: #bf1e2e;
    text-decoration: none;
}

.login_menu_separator {
    color: #ffffff;
}

.header {
    position: relative;
    margin: 0 auto;
    width: 90%;
    padding: 20px 0 10px 0px;
}

.wellcomeRegistration {
    position: relative;
    margin: 0 0 0px 0;
    width: 100%;
    float: left;
    padding: 0px 0 9px 0;
}

.subscriptionTitle1, .subscriptionTitle1b {
    float: left;
    font-size: 27px;
    font-style: normal;
    margin: 4px 0 0px 0;
    width: 100%;
    text-align: center;
}

.login_title, .login_title2 {
    color: #2D3B97;
    width: 100%;
    text-align: center;
    float: left;
    position: relative;
}
.login_title {
    margin: 10px 0px 0px 0px;
}
.login_title2 {
    margin: 9px 0px 0px 0px;
}

.email_password_box {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.login_fields {
    width: 93%;
    font-size: 16px;
    margin: 0px;
    border: none;
    height: 27px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #C9CACB;
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
    color: #142464;
}

.container {
    float: left;
    width: 100%;
    position: relative;
}

.speedEmployer_sign {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 10px 0 10px 0;
}

.speedEmployer_logo {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
}

.login_button2_box {
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 10px 0 0 0;
}

.but96 {
    border: 1px solid #CDCED0;
    font-size: 19px;
    color: #142464;
    padding: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,222,223,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(221,222,223,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,222,223,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,222,223,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,222,223,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(221,222,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddedf', GradientType=0 );
    transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    width: 93%;
    height: 33px;
}
.but96:hover, .but96:active {
    color: #01295A;
    transition: all 0.7s ease-in;
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
}
.but96:hover {
    -webkit-box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.75);
}
.but96:active {
    background: rgba(221,222,223,1);
    background: -moz-linear-gradient(top, rgba(221,222,223,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(221,222,223,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(221,222,223,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(221,222,223,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(221,222,223,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(221,222,223,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddedf', endColorstr='#ffffff', GradientType=0 );
    -webkit-box-shadow: inset 0px 10px 47px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 10px 47px -19px rgba(0,0,0,0.75);
    box-shadow: inset 0px 10px 47px -19px rgba(0,0,0,0.75);
}

.speedMan2 {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.map img {
    margin: 0;
    bottom: 10px;
    position: absolute;
}



.login_menu_container {
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(97, 145, 212);
}

.buttonName {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    float: left;
    margin: 12px 34% 7px 34%;
    width: 30%;
    height: 30%;
    padding: 1%;
    background-color: #fff;
}

.photoName {
    float: left;
    -webkit-box-shadow: -2px 1px 8px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: -2px 1px 8px 0px rgba(0,0,0,0.18);
    box-shadow: -2px 1px 8px 0px rgba(0,0,0,0.18);
    position: relative;
}

.idName {
    float: left;
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.workLabel2 {
    float: left;
    position: relative;
    text-align: center;
    width: 86%;
    margin: 10px 5% 10px 5%;
    padding: 0px 2% 0px 2%;
}
.workLabel {
    font-size: 17px;
    color: #f2f2f3;
    font-style: italic;
    border: 0;
    height: auto;
    margin: 0;
    line-height: 1.9;
    float: left;
    width: 100%;
    background-color: #ed1b2f;
    cursor:pointer;
}
.workLabel:hover {
    color: #f2f2f3a3;
    background-color: #ed1b2f;
    -webkit-box-shadow: inset 0px 0px 36px -5px rgba(0,0,0,0.84);
    -moz-box-shadow: inset 0px 0px 36px -5px rgba(0,0,0,0.84);
    box-shadow: inset 0px 0px 36px -5px rgba(0,0,0,0.84);
    transition: all 0.7s ease-in;
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
}


em.mm-counterTop, em.mm-counterTopEoi, em.mm-counterTopSup {
    color: #f1f6fb;
    margin: 0;
    position: absolute;
    min-width: 12px;
    float: none;
    text-align: center;
    font-style: normal;
    top: -3px;
    right: -4%;
    padding: 3px 6px 3px 3px;
    background-color: rgb(237, 27, 47);
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -webkit-box-shadow: -2px 1px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -2px 1px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.7);
    font-style: italic;
    z-index: 99;
}

.textBut {
    float: left;
    position: relative;
    width: 100%;
    margin: 7px 0 0 0;
    text-align: center;
}
.logout {
    color: #fff;
    font-size: 14px;
}
.logout:hover {
    color: #ed1b2f;
    text-decoration:none;
}