RewriteEngine On
RewriteBase /api/php/
DirectoryIndex index.php
<IfModule mod_headers.c>
     Header set Access-Control-Allow-Origin "*"
</IfModule>

RewriteRule ^([a-zA-Z0-9-_]+)/?$                     index.php?method=$1        [QSA]
RewriteRule ^([a-zA-Z0-9-_]+)/([a-zA-Z0-9-]+)/?$     index.php?method=$1&id=$2  [QSA]

ErrorDocument 404 /index.php?section=error404
ErrorDocument 403 /index.php?section=error403

